<!DOCTYPE html>
<html lang="es">
 <link rel="stylesheet" type="text/css" href="../static/style.css"/>

<head>
    <title>Operaciones</title>
</head>

<body>
    <div class="header">
        <header>
    <div class="header">
        <header>
            <table>
                <tr>
                    <td><h1>CALCULADORA</h1>
                        Calculadora echa con python
                        </td>
                    </tr>
                </table>            
            </header>
    </div>            
            </header>
    </div>
    <div class="calculadora">
    <form action="" method="POST">
        <label>Calcular:</label>
        <input required min="1"type="number" id="n1" name="n1" placeholder="Ingresar numero 1">
        <input required min="1"type="number" id="n2" name="n2" placeholder="Ingresar numero 2">
    
    <div class="buttons">
        <div class="suma"></div>
        <button name = "operator" type="submit" value="1">Suma</button>
        <button name = "operator" type="submit" value="2">Restar</button2>
        <button name = "operator" type="submit" value="3">Multiplicar</button>
        <button name = "operator" type="submit" value="4">Dividir</button>
    </div>

        
    </form>
    </div>

</body>

</html>